<div class="container justify-content-center align-items-center">
    <div class="mt-5">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <h1 class="text-center">Login</h1>

            <form #form="ngForm" (ngSubmit)="onFormSubmit()">
                <div class="mt-3">
                    <label for="email" class="form-lable">Email</label>
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="model.email"/>
                </div>

                <div class="mt-3">
                    <label for="password" class="form-lable">Password</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password"/>
                </div>

                <div class="mt-3 text-center">
                    <button type="submit" class="btn btn-primary me-3">Login</button>
                    <button class="btn btn-secondary" [routerLink]="['/register']">
                        <i class=""></i> Register
                    </button>
                </div>
                <div class="mt-3 text-center">
                    <a class="nav-link d-flex align-items-center justify-content-center" 
                    data-bs-toggle="modal" 
                    data-bs-target="#forgotPasswordModal"
                    role="button"
                    onmouseout="this.style.color='white';"
                    onmouseover="this.style.color='#0056b3';">
                        <i class="fa fa-sign-in-alt me-2"></i> Forgot password
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotPasswordModalLabel">Forgot Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #forgotPasswordForm="ngForm" (ngSubmit)="onForgotPasswordSubmit()">
                    <div class="mb-3">
                        <label for="forgotPasswordEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="forgotPasswordEmail" name="email" [(ngModel)]="forgotPasswordModel.email" required />
                    </div>
                    <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>