<div class="container-fluid">
  <div class="row p-2 bg-info">
    <div class="col-6">
      <h3>Product List</h3>
    </div>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>CartId</th>
        <th>UserId</th>
        <th>ProductId</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <td>{{ userInfo?.email }}</td>
      </tr> -->
      <tr *ngFor="let cart of carts">
        <td>{{ cart.cartItemId }}</td>
        <td>{{ cart.userId }}</td>
        <td>{{ cart.productId }}</td>
        <td class="text-center">
          <button style="margin-right: 10px" (click)="updateQuantity(cart, -1)">
            -
          </button>
          {{ cart.quantity }}
          <button style="margin-left: 10px" (click)="updateQuantity(cart, 1)">
            +
          </button>
        </td>
        <td class="text-center">
          <button class="btn btn-danger" (click)="deleteCartItem(cart)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!--Tesst Form chuan-->
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Brand</th>
        <th>Title</th>
        <th>Color</th>
        <th>Price</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <td>{{ userInfo?.email }}</td>
      </tr> -->
    </tbody>
  </table>
</div>
