<h3 style="text-align: center; margin: 20px 0">Confirm Your Order</h3>
<!--danh sách sản phẩm đã chọn-->
<div class="container" style="margin: 30px auto; max-width: 80%">
  <div class="row p-2 bg-info">
    <div class="col-6">
      <h3 style="margin-left: 10px">Product List</h3>
    </div>
  </div>
  <!-- Bảng hiển thị thông tin chi tiết của sản phẩm trong giỏ hàng -->
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Title</th>
        <th>Color</th>
        <th>Price</th>
        <th class="text-center">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ProductName</td>
        <td>
          <img alt="Product Image" style="width: 50px; height: auto" />
        </td>
        <td>Title</td>
        <td>Color</td>
        <td>Price</td>
        <td class="text-center">
          <span>Quantity</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--thêm thông tin địa chỉ nhận hàng-->
